body {
    background: url('https://dl.dropboxusercontent.com/u/27977404/pabg.jpg');
    background-size: cover;
}
.mastfoot .social {
	font-size: 242%;
}
.modal {
	color: #333;
    text-shadow: none;
}
.something-input {
    border: none;
    width: 42%;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}
.something-items {
    width: 52%;
    margin: auto;
    text-align: left;
    max-height: 420px;
    overflow-y: overlay;
}