
<!DOCTYPE html>
<html lang="en" ng-ap="paxapy">
<head>
    <title>paxapy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cover.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">paxapy</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">home</a></li>
                            <li><a href="#">cv</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">paxapy</h1>
                    <p class="lead">cutting-edge technologies project</p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>
                            some social: 
                            <a href="http://google.com/+paxapy">+</a>  
                            <a href="https://twitter.com/paxapy">@</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
</body>
</html>
