<h1 class="cover-heading">
    i
    <a href data-toggle="modal" data-target=".mean-modal">mean</a>
    it
</h1>
<p class="lead">cutting-edge technologies project</p>

<div class="modal fade mean-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">stack</h4>
            </div>
            <div class="modal-body">
                <p>mongo</p>
                <p>express</p>
                <p>angular</p>
                <p>node</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">okay</button>
            </div>
        </div>
    </div>
</div>
